<html>
<head>
<link rel="stylesheet" href="./../../public/css/style.css">
</head>
<body id="Wrapper">
<a href="/Elektronik">Elektronik</a> | <a href="/Elektronik/Bilgisayar">Bilgisayar</a> 
    <h1>Şablon</h1>
    <!-- Buradaki eksi önemli -->
   <%- body %>
</body>
</html>